@page "/"
@layout EmptyLayout
<h3>Component</h3>
<div>

    <input id="login" type="text" />
    <br />
    <input id="Password" type="password" />
    <br />
    <input id="submit" type="button" value="button" />
</div>
@code {

}
