@page "/"
@layout EmptyLayout
<h3>Login</h3>
<div>

    <input id="loginin" type="text" @bind="@loginValue" @oninput="@((e) => { loginValue=(string)e.Value;})" />
    <br />
    <input id="Password" type="password" @bind="@passValue" @oninput="@((e) => { passValue=(string)e.Value;})" />
    <br />
    <input id="submit" type="button" value="Login" @onclick="LoginBtn" />
    <input id="submit" type="button" value="Sign" @onclick="LoginBtn" />

</div>
@code {
    private string loginValue { get; set; }
    private string passValue { get; set; }

    private void LoginBtn()
    {
        string a = loginValue + passValue;
    }
}
